body, html {
    gap: 0;
    padding: 0;
    margin: 0;
    font-family: 'Inter';
}


button, input {
    border-radius: 16px;
    outline: none;
    box-shadow: none;
    padding: 2px;
}
button {
    background-color: cyan;
    padding-left: 20px;
    padding-right: 20px;
}

input {
    background-color: lightgrey;
    min-width: 150px;
}

.container {
    display: grid;
    grid-template-columns: 20% 80%;

}

.sidebar {
    display: grid;
    box-sizing: border-box;
    padding: 10px;
    overflow: auto;

    min-width: 3rem;
    height: 100vh;

    background-color: aqua;
}

.sidebar .sidebar-item {
    display: grid;
    overflow: auto;
    grid-template-columns: 10% 90%;
}

.sidebar-text {
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    white-space: normal; 
    text-overflow: ellipsis;
}

.right {
    display: grid;
    grid-template-rows: 20% 80%;
}

.right .right-content {
    display: grid;
    background-color: lightgrey;
}

.header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 8fr 1fr 1fr 2fr;
    grid-template-rows: 40% 60%;
    padding: 15px;
    gap: 2px;
    background-color: white;
}

.header .search-icon, .notifications, .profile-pic, .top-right-name, .big-profile-pic {
    display: grid;
    justify-content: center;
}

.header .top-right-name {
    font-size: 0.7rem;
    white-space: nowrap;
}

.header .threebuttons {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 3 / 5;
    overflow: visible;
    gap: 10px;
}


